<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Tags</h2>
  </div>
  <div class="panel-body">
    <ul class="list-inline">
      <% tag_facets_for_blog.each do |tag_facet| %>
      <li>
        <% if tag_facet.name == selected_tag %>
          <span class="label label-success"><%= tag_facet.name %> <%= tag_facet.count %></span>
        <% else %>
          <%= link_to(scrivito_path(blog_page, tag: tag_facet.name)) do %>
            <span class="label label-primary"><%= tag_facet.name %> <%= tag_facet.count %></span>
          <% end %>
        <% end %>
      <% end %>
      </li>
    </ul>
  </div>
</div>
